<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.aeci.persistence.mybatisimpl.mappers.AccountMapper">
    <!--
    <resultMap type='Rol' id='RolResult'>
        <id property='id' column='Id'/>
        <result property='name' column='Name'/>
    </resultMap>
    
    <resultMap type='Program' id='ProgramResult'>
        <id property='id' column='Id'/>
        <result property='duration' column='Duration'/>
        <result property='name' column='Name'/>
    </resultMap>
    
    
    
    <resultMap type='User' id='UserResult'>
        <id property='id' column='Id'/>
        <result property='phone' column='Phone'/>
        <result property='yearGraduate' column='YearGraduate'/>
        <result property='period' column='Period'/>
        <result property='firstName' column='FirstName'/>
        <result property='lastName' column='LastName'/>
        <result property='email' column='Email'/>
        <result property='cellphone' column='CellPhone'/>
        <result property='birthDate' column='BirthDate'/>
        <association property = 'program' javaType ='Program' columnPrefix='p_' resultMap='ProgramResult'></association>
        <association property = 'role' javaType ='Rol' columnPrefix='r_' resultMap='RolResult'></association>
    </resultMap>
    
    <select id="getDetailsStudent" resultMap="UserResult">
    
        select 	User.Id ,User.FirstName ,User.LastName , User.Email ,User.Phone ,
                User.Cellphone ,User.YearGraduate ,
                User.BirthDate ,User.Period ,
                Rol.Id as r_Id,Rol.name as r_name,
                Program.Id as p_Id,Program.Name as p_Name,Program.Duration as p_Duration,	
                Graduate.Id as g_Id,Graduate.Charge as g_Charge,Graduate.Employer as g_Employer,Graduate.Office_Address as g_Office_Address,
                Graduate.Office_Phone as g_Office_Phone,Graduate.User_id as g_User_id,
                Account.Id as a_Id,Account.Password as a_Password,Account.Active as a_Active,Account.Salt as a_Salt,
                Membership.Id as m_Id,Membership.Start_Date as m_Start_Date ,Membership.Receipt as m_Receipt ,Membership.PaymentNumber as m_PaymentNumber ,
                Membership.Account_Id as m_Account_Id ,Membership.Rate_id as m_Rate_id ,Membership.End_Date as m_End_Date , 
                Rate.Id as r_Id,Rate.Year as r_Year,Rate.Value as r_Value
	
        From 	User, Rol,Graduate,Account,Program,Membership,Rate

        Where 	User.Id=Rol.Id And Graduate.User_id=User.Id And User.Id=Account.Id And Program.Id=User.Program_Id And Membership.Id=Account.Id And Membership.Rate_id=Rate.Id
                And (NOW()<=Membership.End_Date And NOW()>=Membership.Start_Date) 
    
        
    </select>
    
    
    <select id="getDetailsStudent" resultMap="UserResult">
        select 	User.Id ,User.FirstName ,User.LastName , User.Email ,User.Phone ,
                User.Cellphone ,User.YearGraduate ,
                User.BirthDate ,User.Period ,
                Rol.Id as r_Id,Rol.name as r_name,
                Program.Id as p_Id,Program.Name as p_Name,Program.Duration as p_Duration,	
                Student.Id as s_Id,Student.User_id as s_uId,Student.Semester as s_Semester,
                Account.Id as a_Id,Account.Password as a_Password,Account.Active as a_Active,Account.Salt as a_Salt,
                Membership.Id as m_Id,Membership.Start_Date as m_Start_Date ,Membership.Receipt as m_Receipt ,Membership.PaymentNumber as m_PaymentNumber ,
                Membership.Account_Id as m_Account_Id ,Membership.Rate_id as m_Rate_id ,Membership.End_Date as m_End_Date , 
                Rate.Id as r_Id,Rate.Year as r_Year,Rate.Value as r_Value
	
        From 	User, Rol,Student,Account,Program,Membership,Rate

        Where 	User.Id=Rol.Id And Student.User_id=User.Id And User.Id=Account.Id And Program.Id=User.Program_Id And Membership.Id=Account.Id And Membership.Rate_id=Rate.Id And
                (NOW()<=Membership.End_Date And NOW()>=Membership.Start_Date) 
    </select>
    -->
</mapper>