<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.aeci.persistence.mybatisimpl.mappers.AccountMapper">
    
    <!--
    <resultMap type='Rol' id='RolResult'>
        <id property='id' column='Id'/>
        <result property='name' column='Name'/>
    </resultMap>
    
    <resultMap type='Program' id='ProgramResult'>
        <id property='id' column='Id'/>
        <result property='duration' column='Duration'/>
        <result property='name' column='Name'/>
    </resultMap>

    <resultMap type='User' id='UserResult'>
        <id property='id' column='Id'/>
        <result property='phone' column='Phone'/>
        <result property='yearGraduate' column='YearGraduate'/>
        <result property='period' column='Period'/>
        <result property='firstName' column='FirstName'/>
        <result property='lastName' column='LastName'/>
        <result property='email' column='Email'/>
        <result property='cellphone' column='CellPhone'/>
        <result property='birthDate' column='BirthDate'/>
        <association property = 'program' javaType ='Program' columnPrefix='p_' resultMap='ProgramResult'></association>
        <association property = 'role' javaType ='Rol' columnPrefix='r_' resultMap='RolResult'></association>
    </resultMap>
    
    <resultMap type='Account' id='AccountResult'>
        <result property='password' column='Password'/>
        <result property='active' column='Active'/>
        <result property='salt' column='Salt'/>
        <association property = 'id' javaType ='User' columnPrefix='u_' resultMap='UserResult'></association>
    </resultMap>
    
    <insert type="addAccount" parameterType="map">
        INSERT INTO Account(Id,Password,Salt) values(#{user.id},#{user.id},#{salt})
    </insert>

    <update type="updatePassword" parameterType="map">
        UPDATE Account 
        SET Password=#{password}
        where Id=#{id}
    </update>
    
    <update type="disableAccount" parameterType="map">
        UPDATE Account
        SET Active = false
        where Id=#{id}
    </update>
    
    <update type="enableAccount" parameterType="map">
        UPDATE Account
        SET Active = true
        where Id=#{id}
    </update>
    
    <select type="getAccount" parameterMap="AccountResult">
        SELECT Id, Password, Active, Salt
        from Account
        where Id={#id}
    </select>
            
    
    <resultMap type='Rate' id='RateResult'>
        <id property='id' column='Id'/>
        <result property='year' column='Year'/>
        <result property='value' column='Value'/>
        
    </resultMap>
    
    <resultMap type='Membership' id='MembershipResult'>
        <id property='id' column='Id'/>
        <result property='start_Date' column='Phone'/>
        <result property='end_Date' column='Phone'/>
        <result property='receipt' column='Phone'/>
        <result property='playmentNumber' column='Phone'/>
        <association property = 'account' javaType ='Account' columnPrefix='a_' resultMap='AccountResult'></association>
        <association property = 'rate' javaType ='Rate' columnPrefix='p_' resultMap='RateResult'></association>
    </resultMap>
    
    -->
    <!--
    <select id="getDetailsStudent" resultMap="UserResult">
    
        select 	User.Id as u_Id,User.FirstName as u_FirstName,User.LastName as u_LastName,
                User.Email as u_Email,User.Phone as u_Phone,
                User.Cellphone as u_Cellphone,User.Program_Id as u_Program_Id,User.YearGraduate as u_YearGraduate ,
                User.BirthDate as u_BirthDate,User.Period as u_Period,
                Rol.Id as r_Id,Rol.name as r_name,
                Program.Id as p_Id,Program.Name as p_Name,Program.Duration as p_Duration,	
                Account.Id as a_Id,Account.Password as a_Password,Account.Active as a_Active,Account.Salt as a_Salt,
                Membership.Id ,Membership.Start_Date ,Membership.Receipt ,Membership.PaymentNumber ,
                Membership.Account_Id ,Membership.Rate_id ,Membership.End_Date , 
                Rate.Id as r_Id,Rate.Year as r_Year,Rate.Value as r_Value
	
        From 	User, Rol,Graduate,Account,Program,Membership,Rate

        Where 	User.Id=Rol.Id  And User.Id=Account.Id And Program.Id=User.Program_Id And Membership.Id=Account.Id And Membership.Rate_id=Rate.Id
                And {#ActualDay}<=Membership.End_Date And {#ActualDay}>=Membership.Start_Date
        
    </select>
    -->
    
    
    <!-- Trae estudiante o usuario 
    StudentResult
    <resultMap type='Student' id='StudentResult'>
        
        <id property='id' column='Id'/>
        <result property='semester' column='Semester'/>
        <association property = 'user_id' javaType ='User' columnPrefix='u_' resultMap='UserResult'></association>
        
    </resultMap>
    
    <resultMap type='Graduate' id='GraduateResult'>
        
        <id property='id' column='Id'/>
        <result property='charge' column='Charge'/>
        <result property='employer' column='Employer'/>
        <result property='office_address' column='Office_Address'/>
        <result property='office_phone' column='Office_Phone'/>
        <association property = 'user_id' javaType ='User' columnPrefix='u_' resultMap='UserResult'></association>
        
    </resultMap>

    <select id="getStudent" resultMap="StudentResult">
        
        Select 	Student.Id, Student.User_Id,Student.Semester,
                User.Id as u_Id,User.FirstName as u_FirstName,User.LastName as u_LastName,
                User.Email as u_Email,User.Phone as u_Phone,
                User.Cellphone as u_Cellphone,User.Program_Id as u_Program_Id,User.YearGraduate as u_YearGraduate ,
                User.BirthDate as u_BirthDate,User.Period as u_Period,
                Rol.Id as r_Id,Rol.name as r_name,
                Program.Id as p_Id,Program.Name as p_Name,Program.Duration as p_Duration
        From User,Student,Rol,Program
        Where Rol.Id=2 And Rol.id=User.Rol_Id And User.Id=Student.User_Id And Program.Id=User.Program_Id And Student.Id={#est}    
        
    </select>
    
    <select id="getGraduate" resultMap="GraduateResult">
        
        Select 	Graduate.Id, Graduate.User_Id,Graduate.Charge,Graduate.Employer,Graduate.Office_Address,Graduate.Office_Phone,
                User.Id as u_Id,User.FirstName as u_FirstName,User.LastName as u_LastName,
                User.Email as u_Email,User.Phone as u_Phone,
                User.Cellphone as u_Cellphone,User.Program_Id as u_Program_Id,User.YearGraduate as u_YearGraduate ,
                User.BirthDate as u_BirthDate,User.Period as u_Period,
                Rol.Id as r_Id,Rol.name as r_name,
                Program.Id as p_Id,Program.Name as p_Name,Program.Duration as p_Duration
        From User,Graduate,Rol,Program
        Where Rol.Id=1 And Rol.id=User.Rol_Id And User.Id=Graduate.User_Id And Program.Id=User.Program_Id And Graduate.Id={#Grad}
        
    </select>
    -->
    <!-- Trae estudiante o usuario 
    
    <insert id="saveAccount" parameterType="map">
        insert into Account(Id,Password,Active,Salt) values(#{IdAccount},#{PasswordAccount},#{ActiveAccount},#{SaltAccount})
    </insert>
    -->
  
</mapper>
