<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.aeci.persistence.mybatisimpl.mappers.UserMapper">
    <!--
    <resultMap type='User' id='UserResult'>
        <id property='id' column='Id'/>
        <result property='phone' column='Phone'/>
        <result property='yearGraduate' column='YearGraduate'/>
        <result property='period' column='Period'/>
        <result property='firstName' column='FirstName'/>
        <result property='lastName' column='LastName'/>
        <result property='email' column='Email'/>
        <result property='cellphone' column='CellPhone'/>
        <result property='birthDate' column='BirthDate'/>
        <association property = 'program' javaType ='Program' columnPrefix='pr_' resultMap='ProgramResult'></association>
        <association property = 'role' javaType ='Rol' columnPrefix='rl_' resultMap='RolResult'></association>
    </resultMap>
    
    <resultMap type='Graduate' id='GraduateResult'>
        <result property='charge' column='Charge'/>
        <result property='employer' column='Employer'/>
        <result property='office_address' column='Office_Address'/>
        <result property='office_phone' column='Office_phone'/>
        <association property='user' javaType='User' columnPrefix="use_" resultMap="UserResult"></association>
    </resultMap>
    
    <insert id="addGraduate" parameterType="map">
        INSERT INTO GRADUATE(Charge,Employer,Office_Address,Office_phone,use_User)
        VALUES(#{graduate.charge},#{graduate.employer},#{graduate.office_address},#{graduate.office_phone},#{graduate.user_id.id})
    </insert>-->
</mapper>
