<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.pdsw.aeci.persistence.mybatisimpl.mappers.ProgramMapper">
    <resultMap type='Program' id='ProgramResult'>
        <id property='id' column='Id'/>
        <result property='name' column='Name'/>
        <result property='duration' column='Duration'/>
    </resultMap>
    
    <select id="getProgram" resultMap="ProgramResult">
        select Id, Name, Duration from Program
        where Id=#{idProgram}
    </select>
    
    <!-- Agregar trigger de id program -->
    
    <insert id="saveProgram" parameterType="map">
        insert into Program(Name,Duration) values(#{program},#{Duration})
    </insert>
    
</mapper>
