<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.aeci.persistence.mybatisimpl.mappers.RequestMapper">
    <resultMap type='Request' id='RequestResult'>
        <id property='id' column='Id'/>
        <result property='date' column='Date'/>
        <result property='commentary' column='Commentary'/>
        <result property='state' column='State'/>
        <association property = 'user' javaType ='User' columnPrefix='u_' resultMap='UserResult'></association>
    </resultMap>
    
    <resultMap type='User' id='UserResult'>
        <id property='id' column='Id'/>
        <result property='phone' column='Phone'/>
        <result property='yearGraduate' column='YearGraduate'/>
        <result property='period' column='Period'/>
        <result property='firstName' column='FirstName'/>
        <result property='lastName' column='LastName'/>
        <result property='email' column='Email'/>
        <result property='cellphone' column='CellPhone'/>
        <result property='birthDate' column='BirthDate'/>
        <association property = 'program' javaType ='Program' columnPrefix='pr_' resultMap='ProgramResult'></association>
        <association property = 'role' javaType ='Rol' columnPrefix='rl_' resultMap='RolResult'></association>
    </resultMap>
    
    <resultMap type='Rol' id='RolResult'>
        <id property='id' column='Id'/>
        <result property='name' column='Name'/>
    </resultMap>
    
    <resultMap type='Program' id='ProgramResult'>
        <id property='id' column='Id'/>
        <result property='duration' column='Duration'/>
        <result property='name' column='Name'/>
    </resultMap>
    
    <select id="getPendingRequests" resultMap="RequestResult">
        Select User.Id as u_Id, User.Phone as u_phone, User.YearGraduate as u_YearGraduate, User.Period as u_Period, User.FirstName as u_FirstName, User.LastName as u_LastName, User.Email as u_Email, User.CellPhone as u_CellPhone, User.BirthDate as u_BirthDate,
               Request.Id , Request.Date , Request.Commentary, Request.State,
               Rol.Id as rl_Id, Rol.Name as rl_Name,
               Program.Id as pr_Id, Program.Duration as pr_Duration, Program.Name as pr_Name
        From User, Request, Rol, Program
        Where Request.User_Id = User.Id And User.Program_Id = Program.Id And User.Rol_Id = Rol.Id And Request.State = 'E'
        Order By Request.Date Desc;
    </select>

    <insert id="addRequest" parameterType="map">
        INSERT INTO Request (User_Id, Date, Commentary,State) 
        VALUES ( #{request.user.id},#{request.date},#{request.commentary},#{request.state});   
    </insert>
    
    <update id="updateRequest" parameterType="map">
        UPDATE Request
        SET Commentary = #{commentary}, State = #{state}
        WHERE Id = #{request.id};
    </update>
  	
</mapper>