<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.aeci.persistence.mybatisimpl.mappers.StudentMapper">
    
    <resultMap type='Student' id='StudentResult'>
        <id property='id' column='Id'/>
        <result property='semester' column='Semester'/>
        <association property = 'user' javaType ='User' columnPrefix='u_' resultMap='UserResult'></association>
    </resultMap>
    
    <resultMap type='User' id='UserResult'>
        <id property='id' column='Id'/>
        <result property='phone' column='Phone'/>
        <result property='yearGraduate' column='YearGraduate'/>
        <result property='period' column='Period'/>
        <result property='firstName' column='FirstName'/>
        <result property='lastName' column='LastName'/>
        <result property='email' column='Email'/>
        <result property='cellphone' column='CellPhone'/>
        <result property='birthDate' column='BirthDate'/>
        <association property = 'program' javaType ='Program' columnPrefix='pr_' resultMap='ProgramResult'></association>
        <association property = 'role' javaType ='Rol' columnPrefix='rl_' resultMap='RolResult'></association>
    </resultMap>
    
    <resultMap type='Rol' id='RolResult'>
        <id property='id' column='Id'/>
        <result property='name' column='Name'/>
    </resultMap>
    
    <resultMap type='Program' id='ProgramResult'>
        <id property='id' column='Id'/>
        <result property='duration' column='Duration'/>
        <result property='name' column='Name'/>
    </resultMap>
    
    <select id="getStudents" resultMap="StudentResult">
        Select Student.Id, Student.Semester,
               User.Id, User.Phone, User.YearGraduate, User.Period, User.FirstName, User.LastName, User.Email, User.CellPhone, User.BirthDate,
               Rol.Id as u_rl_Id, Rol.Name as u_rl_Name,
               Program.Id as u_pr_Id, Program.Duration as u_pr_Duration, Program.Name as u_pr_Name
        From User, Request, Rol, Program, Student
        Where Request.User_Id = User.Id And User.Program_Id = Program.Id And User.Rol_Id = Rol.Id And Student.User_id = User.Id;
    </select>

    <insert id="addStudent" parameterType="map">
        INSERT INTO Student (Id, User_Id, Semester, Photo)
        VALUES (#{student.id}, #{student.user.id}, #{student.semester}, NULL);
    </insert>
    
    <update id="addCarnet" parameterType="map">
        UPDATE Student SET Photo=#{student.photo}
        WHERE Id=#{student.id}
    </update>
  	
</mapper>